.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.container::after, .float-container::after {
    clear: both;
    content: none;
    display: table;
}

.post-body img {
	height:auto;
	max-height:400px;
	width: auto;
	max-width:100%;
	clear: both;
}

.navbarinkendisi {
	background-color: #006d77;
}

.navbararkasi {
	background-color: #2a9d8f;
}

footer {
    background-color: #006d77;
}

.card-header {
    background-color: #2a9d8f;
	color: white;
}

.card {
    border: 1px solid #2a9d8f;
}

.list-group-item {
    border: 1px solid #2a9d8f;
}

.btn-outline-secondary {
    color: #e63946;
    border-color: #2a9d8f;
}

.PopularPosts .widget-content ul li {
    padding: .7em .7em;
}

a {
    color: #e63946;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
	color: #1d3557;
    text-decoration: none;
    background-color: transparent;
}

a:visited {
	color: #e63946;
    text-decoration: none;
    background-color: transparent;
}

.bg-light {
    background-color: #9ee5dd!important;
}

h3 {
	color: #faa307;
}

.post-title {
	color: #e63946;
}

.list-group-flush {
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25em;
}

img {
    border-radius: .25rem;
}